<div id="about">
  <!-- <img src="assets/bot.png" alt=""> -->
  <p style="background: #391a58b5;color: white;">Enter Urls to Extract Emails From</p>
</div>

<div class="mcnt">
  <div class="fcnt">
    <form class="row g-3" style="display: grid;">
      <div class="col-12">
        <p style="text-align: center;">URL</p>
        <textarea
          type="text"
          class="form-control"
          name="url"
          id="url1"
          placeholder="www.example.com"
          required
        > </textarea>
      </div>
    </form>
    <div class="col-12">
      <button  class="btn" id="submit" style="background:#825ca8;color: white">EXTRACT</button>
    </div>
  </div>
</div>
