<div class="container">
    <div class="rcnt">
      <img src="https://c.tenor.com/hE0T8D0GpXsAAAAC/joinblink-blink.gif" alt="">
      <div class="status">
        <div>
          <p class="alert alert-danger">Unreachable</p>
          fghffgfhffffffffffffffff
        </div>
        
        <div >
          <p class="alert alert-dark">No-emails</p>
        </div>
        <div >
          <p class="alert alert-success">successful</p>
        </div>
        
      </div>
      <p>The result is produced in a .csv file </p>
      <a href="results/emails.csv" download > Download Results</a>
    </div>
</div>